{% extends 'base.html' %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Project_Allotment_Portal/stylesheet/profile.css' %} " >
    <script type="text/javascript" src="{% static 'Project_Allotment_Protal/javascript/profile.js' %}"></script>
{% endblock %}

{% load static %}

{% block title %}
    Project Allotment Portal
{% endblock %}

{% block title2 %}
     Project Allotment Portal
{% endblock %}

{% block quote %}
    Get used to the environment where even 99.9% is considered a faliure.
{% endblock %}

{% block content %}

{% endblock %}