{% extends 'base.html' %}
{% load static %}

{% block statics %}
    <link rel="stylesheet" type="text/css" href="{% static 'Project_Allotment_Portal/stylesheet/profile.css' %} " >
    <script type="text/javascript" src="{% static 'Project_Allotment_Portal/javascript/profile.js' %}"></script>
{% endblock %}

{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block title2 %}
     Profile
{% endblock %}

{% block quote %}

{% endblock %}

{% block content %}
        <form class="profile_details" action="{% url 'accounts:profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="submit">
        </form>

{% endblock %}